<app-carousel></app-carousel>

<!-- FEATURETTES -->
<!-- Sección informativa donde se dan a conocer logo y logros de la entidad funpaz -->
<div class="container-featurette">
  <div class="row">
    <div class="row featurette">
      <!-- Video -->
      <div class="row">
        <h4 class="text-primary fs-6">
          FUNPAZ I.P.S - Clínica de Salud Mental
        </h4>
        <h4
          class="text-primary fs-2"
        >
          CONÓCE FUNPAZ
        </h4>
        <p class="lead">
          Esta instalación ha sido cuidadosamente diseñada y construida con el
          propósito de reducir los síntomas de estrés, ansiedad y depresión, lo
          que a su vez facilita la intervención y el tratamiento de nuestros
          usuarios. Esta iniciativa no solo contribuye a aliviar el sufrimiento
          de quienes padecen enfermedades mentales y adicciones, sino que
          también aborda un problema de salud pública en nuestra región que ha
          sido descuidado por demasiado tiempo.
        </p>
      </div>
      <div class="col-md-12 d-flex justify-content-center">
        <video controls style="width: 70%; height: auto">
          <source
            src="../../../assets/media/VideosFunpaz/instalaciones_funpaz.mp4"
            type="video/mp4"
          />
        </video>
      </div>
      <!-- Instalaciones  -->
      <div class="container gallery-container">
        <h1 class="text-primary" style="text-align: center; margin-top: 5%">
          Instalaciones de Funpaz
        </h1>

        <p class="lead text-center">
          En FUNPAZ, nuestro compromiso es proporcionar un entorno acogedor y
          seguro para el bienestar mental y emocional de nuestros pacientes.
          Nuestras instalaciones están diseñadas pensando en su comodidad y
          privacidad. <br />
          En la Clínica de Salud Mental FUNPAZ, nos enorgullece brindar un
          ambiente de cuidado que respalde la recuperación y el bienestar
          emocional. Estamos comprometidos en ofrecer un entorno de atención de
          alta calidad y confidencialidad.
        </p>
        <ng-image-slider [images]="imgCollection" #nav></ng-image-slider>
      </div>

      <!-- Quienes somos con imagen -->
      <div class="row-about-us">
        <h4
          class="text-primary fs-2"
          style="text-align: center; margin-top: 50px"
        >
          ¿Quiénes somos?
        </h4>
        <p class="lead">
          Somos una institución sin ánimo de lucro, cuyo propósito es ayudar a
          los diferentes usuarios en temas de salud mental de todo el
          departamento. Desde hace unos años venimos funcionando como una
          institución humanista dedicada a brindar atención integral en salud
          mental, garantizando la calidad de vida de nuestros usuarios mediante
          una intervención especializada e interdisciplinar.
        </p>
      </div>
      <!-- Mision de FUNPAZ -->
      <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
            <h4 class="text-primary fs-2 mt-5">Misión</h4>
            <p class="lead">
              Somos una institución que se dedica a brindar una atención
              especializada en salud mental bajo un modelo terapéutico integral
              humanizado con una infraestructura enmarcada en un ambiente
              natural y familiar, garantizando una información especializada e
              interdisciplinaria a nuestros usuarios, que permiten su
              tratamiento, rehabilitación y reintegración social.
            </p>
          </div>
          <!-- Vision de FUNPAZ -->
          <div class="col">
            <h4 class="text-primary fs-2 mt-5">Visión</h4>
            <p class="lead">
              Seremos reconocidos en el 2026 como una institución líder en
              prestación de servicios integrales en salud mental, con un modelo
              terapéutico único reconocidos en el eje cafetero, siendo
              financieramente sostenibles.
            </p>
          </div>
        </div>
      </div>
      <!-- Sabias que con acta -->
      <div class="col-md-7">
        <h4
          class="text-primary fs-2"
          style="text-align: center; margin-top: 50px"
        >
          ¿SABÍAS QUE?
        </h4>
        <p class="lead">
          El proyecto “modelo Funpaz en atención de salud infantil” se ubicó en
          el puesto 167 en el ranking general de los 500 mejores proyectos
          sociales ambientales de América Latina en los premios Latinoamérica
          verde en la categoría de desarrollo humano, inclusión social y
          reducción de desigualdad, se encuentra en el puesto 35. Esto demuestra
          su reconocimiento y destaca posición en la región, especialmente en
          temas de desarrollo humano y reducción de desigualdades.
        </p>
      </div>
      <div class="col-md-5 d-flex justify-content-center align-items-center">
        <img
          class="bd-placeholder-img"
          src="../../../assets/media/Redes/sabias-que.jpeg"
          alt="Placeholder"
          style="width: 60%; height: auto"
        />
      </div>
      <!-- El origen de la palabra funpaz, con logo -->
      <div class="col-md-7 order-md-2">
        <h4
          class="text-primary fs-2"
          style="text-align: center; margin-top: 50px"
        >
          EL ORIGEN DE LA PALABRA FUNPAZ
        </h4>
        <p class="lead">
          El nombre "FUNPAZ" se deriva de la combinación de las palabras
          "Fundación" y "Paz", ya que inicialmente fue concebida como una
          entidad dedicada a promover el equilibrio y la estabilidad a nivel
          social y personal, donde todas las partes de una unidad coexisten en
          armonía. <br />
          Nuestro logotipo presenta la imagen de un niño tocando su cabeza con
          la mano, simbolizando la importancia de la psicología, mientras que la
          otra mano se posa sobre el corazón, destacando el enfoque humanista de
          nuestra organización. El color azul en nuestro logotipo refleja
          nuestros valores de compromiso, fidelidad y orden.
        </p>
      </div>
      <div class="col-md-5 d-flex justify-content-center align-items-center">
        <img
          class="bd-placeholder-img"
          src="../../../assets/media/Redes/logo-funpaz.png"
          alt="Placeholder"
          style="width: 100%; height: auto"
        />
      </div>
    </div>
  </div>
</div>
