<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <svg
        class="bd-placeholder-img"
        width="100%"
        height="100%"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >
        <image
          href="../../../assets/media/FotosCarousel/camino.jpg"
          width="100%"
          height="100%"
          preserveAspectRatio="xMidYMid slice"
          class="blur-image"
        />
      </svg>
      <div class="container">
        <div class="carousel-caption text-center">
          <h1 class="display-5 fw-bold text">
            FUNPAZ I.P.S - Clínica de Salud Mental
          </h1>
          <p class="text-center" style="font-size: 20px">
            <strong
              ><em>
                En nuestra clínica de salud mental, te ofrecemos el apoyo
                necesario para encontrar la paz interior y la claridad que
                necesitas para vivir una vida plena.
              </em>
            </strong>
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg
        class="bd-placeholder-img"
        width="100%"
        height="100%"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >
        <image
          href="../../../assets/media/FotosCarousel/camino_entrada.jpeg"
          width="100%"
          height="100%"
          preserveAspectRatio="xMidYMid slice"
          class="blur-image"
        />
      </svg>

      <div class="container">
        <div class="carousel-caption text-center">
          <h1 class="display-5 fw-bold">
            FUNPAZ I.P.S - Clínica de Salud Mental
          </h1>

          <p class="text-center" style="font-size: 20px">
            <strong>
              <em>
                Tu bienestar emocional es nuestra prioridad. En nuestra clínica,
                te ayudamos a sanar mente y corazón.
              </em>
            </strong>
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg
        class="bd-placeholder-img"
        width="100%"
        height="100%"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >
        <image
          href="../../../assets/media/FotosCarousel/cancha-micro.jpeg"
          width="100%"
          height="100%"
          preserveAspectRatio="xMidYMid slice"
          class="blur-image"
        />
      </svg>
      <div class="container">
        <div class="carousel-caption text-center">
          <h1 class="display-5 fw-bold">
            FUNPAZ I.P.S - Clínica de Salud Mental
          </h1>
          <p class="text-center" style="font-size: 20px">
            <strong>
              <em>
                Encontrar la claridad en tiempos de incertidumbre es posible. Te
                acompañamos en tu viaje hacia la salud mental.
              </em>
            </strong>
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg
        class="bd-placeholder-img"
        width="100%"
        height="100%"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >
        <image
          href="../../../assets/media/FotosCarousel/paisaje.jpg"
          width="100%"
          height="100%"
          preserveAspectRatio="xMidYMid slice"
          class="blur-image"
        />
      </svg>
      <div class="container">
        <div class="carousel-caption text-center">
          <h1 class="display-5 fw-bold">
            FUNPAZ I.P.S - Clínica de Salud Mental
          </h1>
          <p class="text-center" style="font-size: 20px">
            <strong>
              <em>
                En nuestra clínica de salud mental, cada sonrisa recuperada es
                un triunfo en la batalla contra las adversidades emocionales.
              </em>
            </strong>
          </p>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
