<footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary">
  <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
    <div class="row">
      <div class="col-md-3">
        <h3>Ubicación</h3>
        <div class="elementor-icon-box">
          <div class="elementor-icon-box-content">
            <h6 class="elementor-icon-box-title">
              <i
                class="bi bi-geo-alt-fill text-primary"
                style="font-size: 1.5rem;"
              ></i>
              FUNPAZ I.P.S - CLÍNICA DE SALUD MENTAL
            </h6>
            <p class="elementor-icon-box-description">
              <a
                href="https://www.google.es/maps/place/Funpaz/@5.1021362,-75.5399398,17z/data=!3m1!4b1!4m16!1m9!4m8!1m0!1m6!1m2!1s0x8e47702d33c60cdf:0x77785e684c1d99d8!2sFunpaz,+Manizales,+Caldas!2m2!1d-75.5373649!2d5.1021309!3m5!1s0x8e47702d33c60cdf:0x77785e684c1d99d8!8m2!3d5.1021309!4d-75.5373649!16s%2Fg%2F11c6vtqfwj?entry=ttu"
                id="como_llegar"
                name="Cómo llegar"
                target="_blank"
                style="text-decoration: none"
              >
                Kilómetro 4, vía Cuchilla del Salado Manizales-Caldas-Colombia
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h3>Redes Sociales</h3>
        <div class="footer-social-icons">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a
                href="https://www.facebook.com/funpazclinicadesaludmental"
                target="_blank"
              >
                <i
                  class="bi bi-facebook"
                  style="font-size: 2rem; color: #4267b2"
                ></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a
                href="https://www.instagram.com/funpazclinicadesaludmental"
                target="_blank"
              >
                <i
                  class="bi bi-instagram"
                  style="font-size: 2rem; color: #e1306c"
                ></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <h3>Contacto</h3>
        <ul class="list-unstyled">
          <li>Línea de Atención General</li>
          <li>
            <a href="https://wa.me/573330333946" target="_blank">
              <i
                class="bi bi-whatsapp"
                style="font-size: 1.5rem; color: #25d366"
              ></i>
              <strong class="strong-number">(+57) 333 0333 946</strong>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Correos Institucionales</h3>
        <ul class="list-inline">
          <li class="list-inline-item">
            <i class="bi bi-envelope" style="font-size: 1.5rem"></i>
            <a
              href="mailto:secretariaipsfunpaz@gmail.com"
              target="_blank"
              class="footer-link"
              style="text-decoration: none"
              >secretariaipsfunpaz@gmail.com</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright">Copyright &copy; FunPaz 2023</div>
  </div>
</footer>