.footer-copyright {
  text-align: center;
  font-size: 12px;
}

.footer-social-icons a {
  margin-right: 5px;
  text-decoration: none;
}

.footer-link{
  margin-left: 8px;
}

.strong-number{
  margin-left: 8px;
}



