<div class="container-header">
  <header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home">
          <img
            src="../../../assets/media/logo.png"
            alt="LogoFunpaz"
            class="logo"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/home">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about-us">Nosotros</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                role="button"
                data-bs-toggle="dropdown"
              >
                Atención al cliente
              </a>
              <ul class="dropdown-menu dropdown-primary">
                <li>
                  <a class="dropdown-item" href="/appointment">Agendar Cita</a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="../../../assets/media/PoliticaPrivacidad/Politica de seguridad de la informacion FUNPAZ IPS.pdf"
                    download
                    target="_blank"
                    >Politica de Tratamiento de Datos Personales</a
                  >
                </li>
                <li><a class="dropdown-item" href="/clinic_history">Historia Clínica</a></li>
                <li><a class="dropdown-item" href="/pqrs">PQRSF</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-disabled="true" href="/contact"
                >Contáctanos</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-disabled="true" href="/donations"
                >Donaciones</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>
