<div class="container-donations">
  <div class="row justify-content-center">
    <div class="row" style="margin: 0 auto">
      <h4
        class="featurette-heading text-primary fs-6"
        style="text-align: center"
      >
        FUNPAZ I.P.S - Clínica de Salud Mental
      </h4>
      <h4
        class="text-primary fs-2"
        style="text-align: center; margin-top: auto"
      >
        Donaciones
      </h4>
      <p class="lead" style="text-align: center">
        Somos una institución sin ánimo de lucro, cuyo propósito es ayudar a los
        diferentes usuarios en temas de salud mental de todo el departamento.
        Desde hace cinco años venimos funcionando como una institución humanista
        dedicada a brindar atención integral en salud mental, garantizando la
        calidad de vida de nuestros usurarios mediante una intervención
        especializada e interdisciplinar. Es nuestra intención dotar a la
        institución mencionada con herramientas terapéuticas y construyendo en
        los espacios verdes que tenemos diferentes ambientaciones, esto para
        optimizar nuestra labor y así atender a un mayor número de usuarios y
        con excelente calidad. En este momento no contamos con líneas de
        créditos ni recursos suficientes para adquirir las herramientas que
        necesitamos para así cumplir con nuestra misión; además, estamos prestos
        a recibir donación de los productos con los que cuenta su empresa para
        nuestros colaboradores y usuarios. <br><br>De acuerdo con lo estipulado en los
        artículos 356 a 364, del estatuto tributario, nuestra entidad se
        encuentra sometida al régimen tributario especial y cumple con lo
        estipulado en el artículo 125-1 del estatuto tributario, para efectos de
        los descuentos tributarios por donaciones. Acudimos a su generosidad
        para que se integre a nuestros proyectos colaborando decididamente y así
        llevar algo de felicidad, prosperidad y bienestar a los 60 usuarios de
        Fundación Funpaz IPS. <br><br>
      </p>
      <div class="container px-4 text-center">
        <div class="row gx-5">
          <div class="col">
            <p class="lead" style="text-align: center">
              Si está interesado en donar a FUNPAZ, puede hacerlo en línea a
              través de
              <a href="https://checkout.wompi.co/l/VPOS_OapaRK" target="_blank"
                >Wompi</a
              >. Las donaciones se pueden realizar en cualquier momento y de
              cualquier cantidad. Toda donación, por pequeña que sea, puede
              marcar la diferencia. Únase a nosotros para ayudar a brindar
              atención de salud mental de calidad a las personas que más lo
              necesitan.
            </p>
          </div>
          <div class="col">
            <img
              src="../../../assets/media/qr.jpeg"
              alt="QR"
              width="auto"
              height="auto"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
