<div class="container-donations">
  <div class="row justify-content-center">
    <div class="row" style="margin: 0 auto">
      <h4
        class="featurette-heading text-primary fs-6"
        style="text-align: center"
      >
        FUNPAZ I.P.S - Clínica de Salud Mental
      </h4>
      <h4
        class="text-primary fs-2"
        style="text-align: center; margin-top: auto; margin-bottom: 4%"
      >
        Donaciones
      </h4>
      <p class="lead" style="text-align: center">
        Las donaciones a FUNPAZ ayudan a garantizar que todos tengan acceso a la
        atención de salud mental que necesitan. Su donación puede ayudar a:
      </p>
      <ol>
        <li>
          <p class="lead">
            <strong
              >Proporcionar terapia y otros servicios a personas que no pueden
              pagarlos:</strong
            >
          </p>
          <p class="lead">
            Las donaciones a FUNPAZ ayudan a cubrir el costo de la terapia y
            otros servicios para las personas que no pueden pagarlos. Esto
            significa que todos, independientemente de su situación económica,
            pueden recibir la atención que necesitan para mejorar su salud
            mental.
          </p>
        </li>
        <li>
          <p class="lead">
            <strong>Apoyar la investigación sobre la salud mental:</strong>
          </p>
        </li>
        <p class="lead">
          FUNPAZ apoya la investigación sobre la salud mental para ayudar a
          comprender mejor las causas y los tratamientos de los trastornos de
          salud mental. Su donación puede ayudar a financiar estudios que pueden
          conducir a nuevos tratamientos y curas para los trastornos de salud
          mental.
        </p>
        <li>
          <p class="lead">
            <strong>Promover la prevención de la salud mental:</strong>
          </p>
        </li>
        <p class="lead">
          FUNPAZ promueve la prevención de la salud mental mediante la educación
          y la sensibilización sobre la salud mental. Su donación puede ayudar a
          financiar programas que enseñan a las personas cómo mantener una buena
          salud mental y cómo prevenir los trastornos de salud mental.
        </p>
      </ol>
      <div class="container px-4 text-center">
        <div class="row gx-5">
          <div class="col">
            <p class="lead" style="text-align: center">
              Si está interesado en donar a FUNPAZ, puede hacerlo en línea a
              través de
              <a href="https://checkout.wompi.co/l/VPOS_OapaRK" target="_blank"
                >Wompi</a
              >. Las donaciones se pueden realizar en cualquier momento y de
              cualquier cantidad. Toda donación, por pequeña que sea, puede
              marcar la diferencia. Únase a nosotros para ayudar a brindar
              atención de salud mental de calidad a las personas que más lo
              necesitan.
            </p>
          </div>
          <div class="col">
            <img
              src="../../../assets/media/qr.jpeg"
              alt="QR"
              width="auto"
              height="auto"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
